.speed {
	display: block;
}

.speed.label {
	display: none !important;
}

.class_arcy {
	fill: none;
	fill-rule: evenodd;
	stroke-width: 52;
	stroke-miterlimit: 1;
	stroke-opacity: 0.2;
	transform-origin: 0px 14px;
	stroke-dashoffset: 1509.21;
	stroke-dasharray: 754.603,
		754.603,
		406.944;
}